n8n/examen_grima_workflow.json
{
    "name": "OpenAI Cities Recommender",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "openai-cities",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "webhook-node",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [250, 300],
        "webhookId": "cities-webhook"
      },
      {
        "parameters": {
          "text": "Soy un asistente que solo devuelve JSON. Tengo un dataset de restaurantes en estas 3 ciudades mexicanas: 'Mexicali', 'Tijuana', 'Puerto Nuevo'.\n\nInstrucción: Dada la ciudad '{{ $json.city }}' en el país '{{ $json.country }}', devuelve las 3 ciudades más cercanas geográficamente de mi lista (Mexicali, Tijuana, Puerto Nuevo).\n\nReglas:\n1. Si la ciudad proporcionada está en mi lista, úsala como primera opción\n2. Ordena de más cercana a menos cercana\n3. Siempre devuelve exactamente 3 ciudades\n4. Solo ciudades de mi lista\n\nFormato de respuesta EXACTO (sin texto adicional):\n{\n  \"cities\": [\"Ciudad1\", \"Ciudad2\", \"Ciudad3\"]\n}\n\nEjemplos:\n- Input: {'city': 'San Diego', 'country': 'USA'} → Output: {\"cities\": [\"Tijuana\", \"Mexicali\", \"Puerto Nuevo\"]}\n- Input: {'city': 'Mexicali', 'country': 'México'} → Output: {\"cities\": [\"Mexicali\", \"Tijuana\", \"Puerto Nuevo\"]}",
          "options": {}
        },
        "id": "openai-node",
        "name": "OpenAI",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1,
        "position": [450, 300],
        "credentials": {
          "openAiApi": "OpenAI API"
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "response-node",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [650, 300]
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {},
    "staticData": null,
    "tags": [],
    "triggerCount": 1
  }